/* 整體 */

/* 上下row整體下調(與header的間距) */
.productPage {
    padding: 4rem 0 0 0;
}

.productPage hr {
    width: 100%;
    border: 1px solid #EEEEEE;
    margin: 1.8rem 0;
    opacity: 1;
}

#left {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

#right {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4rem;
}

/* --------------------------左上角商品圖片區域-------------------------- */

div.productPicture {
    height: 50rem;
}

.box {
    width: 40rem;
}

#show_L {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 40rem;
    overflow: hidden;
}

#show_L img {
    max-width: none;
    max-height: 100%;
}

.all_img {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

.all_img img {
    cursor: pointer;
    max-width: none;
    max-height: 7rem;
}

.all_img>div {
    display: flex;
    align-items: center;
    width: 7rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    justify-content: center;
}


/* --------------------------右上角商品資訊區域-------------------------- */

/* 右上角星星  */

div.product-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    vertical-align: bottom;
    line-height: 1.6rem;
    padding: 1rem 0;
}

div.product-star span.star.-on img {
    content: url("../image/Star-on.svg");
}

div.product-star span.star.-halfon img {
    content: url("../image/Star-halfon.svg");
}

/* 商品價格 */

#eventPrice {
    color: #6DC2D2;
    font-size: 2.8rem;
    font-weight: bold;
}

#productPrice {
    color: #D9D9D9;
    text-decoration: line-through;
}

/* 商品規格 */

#specSelector {
    width: 50%;
    display: inline-block;
}

/* 數量輸入框 */
.custom-input {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
    width: 8rem;
    height: 3rem;
}


/* ------------------------左下角評論區------------------------ */

/* 會員圖片 */
div.memberPhoto {
    padding: 0;
    border: 1px solid lightgray;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1rem;
}

div.memberPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul#commentList {
    list-style: none;
    padding: 0.1rem;
}

ul#commentList li.commentContent {
    padding: 1rem 0;
}

div.ratingStar span img {
    height: 2rem;
}

ul#commentList li.commentContent p.comment {
    margin: 1rem auto;
}

/* --------------- 商家資訊區 ---------------------- */


div#shopBackground {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 4/1;
    overflow: hidden;
}

div#shopBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a#shopLink {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #6DC2D2;
}

div#shopLogo {
    display: flex;
    justify-content: center;
    width: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

div#shopLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span.location-icon img {
    height: 2.5rem;
}

.store-action-all {
    padding: 20px 0 0 0;
}

.store-action {
    display: flex
}


.store-action dd {
    float: right;
}

/* 加加減減功能 */
button.minus {
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

}

button.plus {
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}


/* 商品說明區(含優惠活動) */
.text.store_illustrate {
    padding: 2rem 0 0 0;
}

#eventList li.eventInfo:nth-child(n+3) {
    display: none;
}

ul#eventList li.eventInfo {
    font-size: 1.6rem;
    font-weight: 550;
    color: #6DC2D2;
}

/* 展開按鈕 */
#expandButton {
    background-color: transparent;
    border: none;
    color: #6DC2D2;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}


/* 左下角評價星星 */
.star_member {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

/* 左下角評價滾輪 */
.member_evaluate-container {
    min-height: calc(90% -50rem);
    height: 50rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 2rem;
}

/* 右下角商家星星 */
.star_store {
    width: 2rem;
    height: 2rem;

}


/* --------------商品列表----------------- */
div.product-S {
    width: 100%;
    aspect-ratio: 2/2.8;
}

p.productName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

img.heart {
    z-index: 1000;
}

a.product-S {
    text-decoration: none;
}